.container {
  .row {
    align-items: center;
    .tarbiyachi-content {
      p {
        span {
          color: blue;
          font-weight: 600;
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .row {
      .tarbiyachi-content {
        h3 {
          font-size: 25px;
        }
        p {
          span {
            white-space: pre-wrap;
            font-size: 18px;
          }
        }
      }
    }
  }
}
